<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>New Event</h2>

      <%= form_for @event do |f| %>
        <div class="form-group">
          <%= f.label :volunteer %>
        </div>
      <% end %>
    </div>
  </div>
</div>